<button type="button" class="btn" data-dismiss="modal" @onclick="() => OnClick()">
    <div class="button-hover-content">@ChildContent</div>
</button>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public Action OnClick { get; set; }

}