@page "/"
@page "/Scheldue"

<PageTitle>Index</PageTitle>

<div class="d-flex flex-column h-100">
    <div class="overflow-hidden align-items-center">
        @for (int i = 0; i < 7; i++)
        {
            <div class="col-sm p-3 h-100">
                <DayCard/>
            </div>
        }
    </div>
</div>
