@page "/"
@page "/Scheldue"

<PageTitle>Index</PageTitle>

<div class="d-flex flex-column h-100">
    <div class="overflow-hidden align-items-center">
        @foreach (var day in Days)
        {
            <div class="col-sm p-3 h-100">
                <DayCard Day="day"/>
            </div>
        }
    </div>
</div>
