<div class="card bg-light h-100">
    <div class="card-header">День недели</div>
    <div class="card-body">
        <h5 class="card-title">Тут типо расписание</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <h5 class="card-title">Тут информация</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>

@code {

    [Parameter]
    public Day Day { get; set; }
}
