
*, ::after, ::before {
    box-sizing: border-box;
}
.text-center{
    background: url("./img/bg-image-1.svg") no-repeat;
    height: 100vh;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.form-signin{
    border-radius: 15px;
    background-color: #304590;
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.reg-logo{
    width: 200px;
    height: 72px;
}