@using ImpInfCommon.Data.Definitions;

<div class="frame h-100" style="background-color: var(--accent-color)">
    <div class="d-lg-flex p-2">
        <div class="d-flex flex-column justify-content-center col-lg-5 col-xl">
            <div class="d-flex flex-row justify-content-between mb-2">
                <div class="second-header me-3">@Lesson.Name</div>
                @if (CurrentUser.Role == Role.ADMIN)
                {
                    <div @onclick="async () => await EditLesson(Lesson)">
                        <SvgImage Src="_content/ImpInfFrontCommon/image/pen.svg#icon" class="nav-icon hover" style="color:var(--secondary-button-color);" />
                    </div>
                }
            </div>
            <div class="ps-2">
                <div><b>Преподаватель: </b>@Lesson.Teacher</div>
                <div><b>Информация: </b>@Lesson.Information</div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Lesson Lesson { get; set; }

    [Parameter]
    public Func<Lesson, Task> EditLesson { get; set; }

    [CascadingParameter]
    public User CurrentUser { get; set; }
}
