@page "/AboutUs"
@attribute [Authorize]

@using Microsoft.AspNetCore.Authorization

<PageTitle>О нас</PageTitle>

<div class="container">
    <div class="frame mt-3" style="background-color: var(--accent-color)">
        <div class="text-center mt-2" style="font-size:medium">
            Наша команда постаралась над тем, чтобы ты удобно и быстро получал информацию об учебном процессе.
            На сайте можно посмотреть расписание занятий на каждый день, узнать домашнее задание, а также получить актуальные новости.
        </div>
    </div>

    <PersonCard AvatarSrc="_content/ImpInfFrontCommon/image/SashaU.jpg"
                Name="Александр Ушанков"
                Position=".NET"
                Description="BackEnd-разработчик, идейный вдохновитель, руководитель" />

    <PersonCard AvatarSrc="_content/ImpInfFrontCommon/image/Danya.png"
                Name="Данила Самоснов"
                Position="React"
                Description="FrontEnd-разработчик" />

    <PersonCard AvatarSrc="_content/ImpInfFrontCommon/image/SashaM.png"
                Name="Александр Мусалов"
                Position=".NET"
                Description="разработка Telegram бота, разработка Web приложения" />

    <PersonCard AvatarSrc="_content/ImpInfFrontCommon/image/Eva.png"
                Name="Ева Пирожкова"
                Position=".NET"
                Description="Разработка Telegram бота, разработка Web приложения" />

    <PersonCard AvatarSrc="_content/ImpInfFrontCommon/image/Vitya.png"
                Name="Виктор Салтыков"
                Position=".NET"
                Description="Разработка Telegram бота, разработка Web приложения" />

    <PersonCard AvatarSrc="_content/ImpInfFrontCommon/image/Vova.png"
                Name="Владимир Резников"
                Position=".NET"
                Description="Разработка Telegram бота" />

    <PersonCard AvatarSrc="_content/ImpInfFrontCommon/image/SashaB.jpg"
                Name="Александр Бережной"
                Position=".NET"
                Description="Разработка Telegram бота" />

    <div class="d-flex separator-horizontal mt-5"></div>
    <div class="d-flex justify-content-between">
        <div class="flex-column">
        <div class="d-flex">
            <NavLink class="nav" href="https://github.com/MJSasha/important-information">
                <SvgImage Src="_content/ImpInfFrontCommon/image/github.svg#icon" class="mt-2" style="width:25px; height:25px"/>
            </NavLink>
                <a href="https://github.com/MJSasha/important-information" class="ms-2 mt-2" style="color: var(--text-color)">GitHub</a>
        </div>
        <div class="d-flex">
        <NavLink class="nav" href="https://t.me/test208b_bot">
            <SvgImage Src="_content/ImpInfFrontCommon/image/tg-icon.svg#icon" class="tg-icon mt-2 rounded-circle" />
        </NavLink>
            <a href="https://t.me/test208b_bot" class="ms-2 mt-2" style="color: var(--text-color)">Telegram Bot</a>
        </div>
        </div>
            <NavLink class="nav" href="https://t.me/test208b_bot">
                <img src="_content/ImpInfFrontCommon/image/Tg.jpg" class="mt-2 mb-2" style="width:70px; height:70px"/>
            </NavLink>
    </div>
</div>
