@page "/Login"
@using ImpInfCommon.ApiServices
@using ImpInfCommon.Data.Other
@using System.Net


<div class="container" style="height: 100vh;">
    <div class="d-flex justify-content-center w-100 h-100">
        <div class="frame align-self-center col-md-4">
            <div class="d-flex header mb-3">Вход</div>

            <EditForm Model="@AuthModel" OnValidSubmit="@LoginAsync">
                <DataAnnotationsValidator />
                <div class="mb-3">
                    <ValidationSummary />
                    @if (IsLoginFailed)
                    {
                        <ul class="validation-errors">
                            <li class="validation-message">Неправильный логин или пароль</li>
                        </ul>
                    }
                </div>
                <div class="mb-3">
                    <input placeholder="логин" id="name" class="form-control" @bind="AuthModel.Login" />
                </div>

                <div class="mb-3">
                    <input placeholder="пароль" type="password" id="password" class="form-control" @bind="AuthModel.Password" />
                </div>

                <div class="d-flex justify-content-center w-100 h-100">
                    <button type="submit" class="btn btn-primary login-button" @onclick="() => IsLoginFailed = false">Войти</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

