
html {
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.header{
  background: #5449A8;
}
/* header btns */
.btn:focus {
  outline: none;
  box-shadow: none;
}
.news-btn{
  color: #B7ADFF;
  border-color: #B7ADFF;
}
.news-btn:hover{
  background: #5449A8;
  border-color: #B7ADFF;
}
.logout-btn{
  border-color: #B7ADFF;
  background: #B7ADFF;
}
.logout-btn:hover{
  background: #5449A8;
  border-color: #B7ADFF;
}
.logout-btn:focus{
  background: #5449A8;
  border-color: #B7ADFF
}
/* header btns */
.content-wrapper{
    display: flex;
}
.logo{
    padding-left: 2%;
}
.shadow-box{
    box-shadow: 0 5px 5px -2px rgba(0, 0, 0, .5);
}
.group-btn{
    padding-left: 10%;
}
.SideBarWrapper{
  position: fixed;
  right: 0;
  z-index: 100;
  /* sidebar height */
  height: 820px;
  /*  */
  box-shadow: -6px 0px 4px -2px rgba(0, 0, 0, 0.4);
}
.content-wrapper{
  display: flex;
  flex-direction: row;
}
/* SideBar transition start*/
.fade-enter{
  opacity: 0;
  transform: translateX(100%);
}
.fade-enter-active{
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit{
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit-active{
  opacity: 0;
  transform: translateX(100%);
}
.fade-enter-active,
.fade-exit-active{
  transition: opacity 500ms, transform 500ms;
}
/* SideBar transition end*/

/* datepicker styles */
.parent-datepicker-wrapper{
  margin-left: 5%;
  display: flex;
  justify-content: center;
}
/* datepicker styles */

/* cards styles */
.shadow-outline{
  -webkit-box-shadow: 0px 0px 2px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 2px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
}
.cards-wrapper{
  margin-top: 1%;
}
.card{
  border-radius: 12%;
  --bs-bg-opacity: 0.7;
  width: 80%;
  height: 340px;
}
.card::after{ /*????????????????*/
  filter: blur(5px);
}
.card-body{
  text-align: center;
}

/* imgs */
.pinkPlanet, .orangePlanet, .orangeAsteroid, .bluePlanet, .astronaut{
  position: fixed;
}
.pinkPlanet{
  object-fit: none;
  height: 150px;
  left: 1450px;
  top: 520px;
}
.orangePlanet{
  object-fit: none;
  width: 400px;
  height: 300px;
  left: 0px;
  top: 550px;
}
.orangeAsteroid{
  object-fit: none;
  width: 160px;
  height: 164px;
  left: 50px;
  top: 110px;
}
.bluePlanet{
  object-fit: none;
  width: 253px;
  height: 260px;
  left: 1040px;
  top: 180px;
}
.astronaut{
  object-fit: none;
  width: 300px;
  height: 332px;
  left: 470px;
  top: 370px;
}

/* imgs */