@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>
            <main>
                <div class="top-row px-4">
                    <NavLink class="nav-link" href="@PagesRouts.Logout" Match="NavLinkMatch.All">
                        <div class="l-b-obj">
                            <object data="/image/logout-button.svg" type="image/svg+xml"></object>
                        </div>
                    </NavLink>
                </div>
                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    </Authorized>
    <NotAuthorized>
        @Body
    </NotAuthorized>
</AuthorizeView>