@import url('https://fonts.googleapis.com/css?family=Rubik');

:root {
    --background-color: #ffffff;
    --header-color: #f7f7f7;
    --text-color: #333333;
    --header-text-color: #084298;
    --secondary-button-color: #084298;
    --accent-color: #e5f4fb;
    --telegram-icon-color: #28a8e9;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    background-color: var(--background-color);
    font-family: 'Rubik';
    font-weight: 400;
    color: var(--text-color);
    margin: 0;
}


/*for elements*/
.frame {
    border-radius: 0.5rem;
    padding: 0.8rem;
    align-items: flex-start;
    box-shadow: 0px 1px 3px 0px #55555555;
}

.nav-icon {
    color: white;
    width: 18px;
    height: 18px;
}

.login-button {
    background-color: var(--secondary-button-color);
    border-color: var(--secondary-button-color);
    width: 35%;
}

.separator-bottom {
    border-bottom: 2px solid var(--secondary-button-color);
}

.separator-horizontal {
    background-color: var(--secondary-button-color);
    height: 2px;
    width: 100%;
}

.separator-vertical {
    background-color: var(--secondary-button-color);
    width: 2px;
    height: 100%;
}

/*--------------------------------------------------------------------------------*/

/*for texts*/
.header {
    font-size: 26pt;
    font-weight: bold;
    color: var(--header-text-color)
}

.second-header {
    font-size: 16pt;
    font-weight: bold;
    color: var(--header-text-color)
}
/*--------------------------------------------------------------------------------*/

/*effects*/
.hover:hover {
    transform: scale(1.1);
    transition: 300ms;
}

.hover:not(:hover) {
    transition: 300ms;
}
/*--------------------------------------------------------------------------------*/

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}