################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TelegramBot/obj
/TelegramBot/bin/
/.vs/
