################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TelegramBot/obj
/.vs/TelegramBot/v17
/TelegramBot/bin/Debug/net5.0
/.vs
